/* Main CSS styles go here */

/* These are just some sample styles */
html, body { margin-top:0; padding-top:0; }
h1 { background-color:#225378; color:#fff; margin:0; padding:1em; font-size:167%; }
#main { text-align:left; margin:1em 2em; }
#main p { width:40em; }
.error { color:red; }
.legal { font-size:85%; color:#999; }
.legal a { color:#999; }
